<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Post #<%= @the_post.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/posts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_post/<%= @the_post.id %>" class="btn btn-block btn-outline-secondary">
          Delete post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_post.title %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_post.body %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" >
      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" class="form-control" value="<%= @the_post.title %>">
      </div>

      <div class="form-group">
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" class="form-control" rows="3"><%= @the_post.body %></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update post
      </button>
    </form>
  </div>
</div>

<hr>
